<mat-card>
  <button
    mat-button
    routerLink="/components/barchart"
    routerLinkActive="active"
  >
    Bar-Chart
  </button>
</mat-card>

<mat-card>
  <button
    mat-button
    routerLink="/components/scatterchart"
    routerLinkActive="active"
  >
    Scatter-Chart
  </button>
</mat-card>

<mat-card>
  <button
    mat-button
    routerLink="/components/histogram"
    routerLinkActive="active"
  >
    Histogram
  </button>
</mat-card>

<mat-card>
  <button
    mat-button
    routerLink="/components/piechart"
    routerLinkActive="active"
  >
    Pie-Chart
  </button>
</mat-card>

<mat-card>
  <button mat-button routerLink="/components/heatmap" routerLinkActive="active">
    Heatmap
  </button>
</mat-card>

<mat-card>
  <button
    mat-button
    routerLink="/components/linechart"
    routerLinkActive="active"
  >
    Line-Chart
  </button>
</mat-card>
