<mat-card routerLink="/components/barchart" routerLinkActive="active">
  <p class="mat-button">Bar-Chart</p>
</mat-card>

<mat-card routerLink="/components/scatterchart" routerLinkActive="active">
  <p class="mat-button">Scatter-Chart</p>
</mat-card>

<mat-card routerLink="/components/histogram" routerLinkActive="active">
  <p class="mat-button">Histogram</p>
</mat-card>

<mat-card routerLink="/components/piechart" routerLinkActive="active">
  <p class="mat-button">Pie-Chart</p>
</mat-card>

<mat-card routerLink="/components/heatmap" routerLinkActive="active">
  <p class="mat-button">Heatmap</p>
</mat-card>

<mat-card routerLink="/components/linechart" routerLinkActive="active">
  <p class="mat-button">Line-Chart</p>
</mat-card>
