<mat-card>
  <section>
    <div>
      <h1>{{ name }}</h1>
      <div id="plotArea" [ngSwitch]="url">
        <lib-bar-chart
          *ngSwitchCase="'/components/barchart'"
          [data]="data"
          xlabel="Keys"
          ylabel="Values"
        ></lib-bar-chart>

        <lib-line-chart
          *ngSwitchCase="'/components/linechart'"
          [data]="data"
          xlabel="Keys"
          ylabel="Values"
        ></lib-line-chart>

        <lib-heatmap
          *ngSwitchCase="'/components/heatmap'"
          [data]="data"
        ></lib-heatmap>

        <lib-pie-chart
          *ngSwitchCase="'/components/piechart'"
          [data]="data"
        ></lib-pie-chart>

        <lib-histogram
          *ngSwitchCase="'/components/histogram'"
          [data]="data"
          xlabel="Keys"
          ylabel="Values"
        ></lib-histogram>

        <lib-scatter-chart
          *ngSwitchCase="'/components/scatterchart'"
          [data]="data"
          xlabel="Keys"
          ylabel="Values"
        ></lib-scatter-chart>
      </div>
    </div>
    <aside>
      <h2>Data example</h2>
      <pre><code [highlight]="dataStr"></code></pre>
    </aside>
  </section>

  <h2>Selector</h2>
  <pre><code [highlight]="selector"></code></pre>

  <h2>Properties</h2>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let element">{{ element.type }}</td>
    </ng-container>

    <ng-container matColumnDef="desc">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element">{{ element.desc }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</mat-card>
